.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.desksec {
  background-color: #f2f4f7;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.rough {
  background-color: #fff;
  border-radius: 4px;
  width: 22rem;
  height: 11.1rem;
  padding: 18px 18px 0;
  box-shadow: 0 3px 5px 2px #0003;
}

.form {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.submit-button {
  background-color: #42b72a;
  width: 90%;
  padding: 12px 19px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.field-label {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 12.8rem;
  max-width: none;
  position: relative;
  top: 19px;
}

.ms-input-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  display: flex;
  position: relative;
}

.ms-input {
  color: #121331;
  background-color: #fff;
  border: 1px solid #12133140;
  border-radius: 5px;
  min-height: 40px;
  margin-bottom: 20px;
  padding: 8px 12px;
  transition: box-shadow .2s, border-color .2s;
  position: relative;
  box-shadow: 0 5px 10px -5px #0000001a;
}

.ms-input:hover {
  z-index: 2;
  box-shadow: none;
  border-color: #2962ff;
}

.ms-input::placeholder {
  color: #909090;
}

.ms-password-wrap {
  z-index: 4;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 29px;
  display: flex;
  position: absolute;
  inset: -20px 0 auto auto;
}

.ms-password-button {
  background-color: #fff0;
  padding: 0 7px 0 6px;
  font-size: 13.5px;
  display: flex;
  bottom: 5px;
}

.ms-password-button.w--current {
  display: none;
}

.ms-eye-svg {
  justify-content: center;
  align-items: center;
  width: 16px;
  margin-right: 4px;
  display: flex;
}

.ms-hide {
  display: none;
}

.section {
  width: 100%;
  height: 100vh;
  display: none;
}

@media screen and (max-width: 991px) {
  .rough {
    height: 11rem;
  }

  .submit-button {
    border-radius: 2px;
    width: 90%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .desksec {
    display: none;
  }

  .section {
    background-image: linear-gradient(135deg, #fff8f2 19%, #f9f1fc 33%, #eff8ff 66%);
    flex-flow: column;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }

  .div-block-2 {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 47px;
    padding: 0;
    display: flex;
  }

  .heading {
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    line-height: 1;
  }

  .text-block {
    margin-bottom: 12px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
  }

  .text-field {
    color: #292929;
    border: 1px solid #919191;
    border-radius: 7px;
    height: 45px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }

  .text-field::placeholder {
    color: #777;
    font-size: 13px;
    font-weight: 600;
  }

  .submit-button-2 {
    background-color: #0064e0;
    border-radius: 900px;
    width: 100%;
    margin-bottom: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }

  .button {
    color: #313131;
    text-align: center;
    background-color: #3898ec00;
    border: 1px solid #bbb;
    border-radius: 999px;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }

  .checkbox-field {
    margin-top: 7px;
  }

  .checkbox-label {
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }

  .image-2 {
    max-width: none;
    height: 41%;
  }
}
